.btn {
  font-family: $montserrat_font;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  text-align: center;
  padding: 15px 20px;
  background-color: $primary_btn;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 30px;
  border: 0;

  &.btn-primary {
    background-color: $primary_btn;

    &:hover {
      background-color: $primary_btn_hover;
    }
  }

  &.btn-secondary {
    background-color: $secondary_btn;

    &:hover {
      background-color: $secondary_btn_hover;
    }
  }

  &.btn-info {
    background-color: $info_btn;

    &:hover {
      background-color: $info_btn_hover;
    }
  }

  &.btn-primary-ghost {
    background-color: transparent;
    border: 2px solid $danger;
    color: $primary;

    &:hover {
      background-color: $primary-btn;
      color: $white;

      &.arrow {
        &:after {
          color: $white;
        }
      }
    }

    &.arrow {
      &:after {
        color: $primary;
      }
    }
  }

  &.btn-secondary-ghost {
    background-color: transparent;
    border: 2px solid $secondary-btn;
    color: $primary;

    &:hover {
      background-color: $secondary-btn;
      color: $white;

      &.arrow {
        &:after {
          color: $white;
        }
      }
    }

    &.arrow {
      &:after {
        color: $primary;
      }
    }
  }

  &.btn-info-ghost {
    background-color: transparent;
    border: 2px solid $primary-success;
    color: $primary;

    &:hover {
      background-color: $info-btn;
      color: $white;

      &.arrow {
        &:after {
          color: $white;
        }
      }
    }

    &.arrow {
      &:after {
        color: $primary;
      }
    }
  }

  &.arrow {
    &:after {
      content: '\f061';
      font-family: 'FontAwesome';
      display: inline-block;
      color: $white;
      font-size: 15px;
      padding-left: 10px;
      font-weight: lighter;
    }
  }
}

// buttons design

a {
  &.btn {
    font-family: $montserrat_font !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: $white !important;
    text-align: center !important;
    padding: 15px 20px !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s !important;
    border-radius: 30px !important;
    border: 0 !important;
  }

  &.primary-btn {
    background-color: $danger !important;
    color: $white !important;

    &:hover {
      background-color: $primary-btn-hover !important;
      color: $white !important;
      border-color: $primary-btn-hover !important;
      text-decoration: none !important;
    }
  }

  &.primary-btn-ghost {
    background-color: transparent !important;
    color: $danger !important;
    border: 1px solid $danger !important;

    &:hover {
      background-color: $danger !important;
      color: $white !important;
      text-decoration: none !important;
    }
  }

  &.secondary-green-btn {
    background-color: $info-btn !important;
    border-color: $info-btn !important;

    &:hover {
      background-color: $info-btn-hover !important;
      color: $white !important;
      border-color: $info-btn-hover !important;
    }
  }

  &.secondary-yellow-btn {
    background-color: $secondary-btn !important;
    border-color: $secondary-btn !important;

    &:hover {
      background-color: $secondary-btn-hover !important;
      color: $white !important;
      border-color: $secondary-btn-hover !important;
    }
  }

  &.secondary-blue-btn {
    background-color: $green-color !important;
    border-color: $green-color !important;

    &:hover {
      background-color: $danger !important;
      color: $white !important;
      border-color: $danger !important;
    }
  }

  &.btn-secondary-blue-border {
    background-color: $white !important;
    border: 1px solid $green-color !important;
    color: $green-color !important;

    &:hover {
      background-color: $green-color !important;
      color: $white !important;
      border-color: $green-color !important;
    }
  }

  &.ghost-btn {
    background-color: transparent !important;
    border: 1px solid $primary !important;
    color: $primary !important;

    svg {
      path {
        stroke: $primary !important;
      }
    }

    &:hover {
      background-color: $primary !important;
      color: $white !important;
      border-color: $primary !important;
      transition: all 0.3s ease-in-out 0s !important;

      svg {
        path {
          stroke: $white !important;
          transition: all 0.3s ease-in-out 0s !important;
        }
      }
    }
  }

  &.ghost-red-btn {
    background-color: transparent !important;
    border: 1px solid $danger !important;
    color: $danger !important;

    svg {
      path {
        stroke: $danger !important;
      }
    }

    &:hover {
      background-color: $danger !important;
      color: $white !important;
      border-color: $danger !important;
      transition: all 0.3s ease-in-out 0s !important;

      svg {
        path {
          stroke: $white !important;
          transition: all 0.3s ease-in-out 0s !important;
        }
      }
    }
  }
}

.green-button {
  &.is-alternate {
    a {
      border: 2px solid $primary-success;
      color: $primary-success;
      background-color: transparent;
      pointer-events: none;

      &:hover {
        color: $white;
        background-color: $primary-success;
        text-decoration: none;
      }
    }
  }

  a {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    background-color: $primary-success;
    border-radius: 3px;
    color: $white;
    pointer-events: none;
    margin-bottom: 10px;

    &:hover {
      background-color: $primary-btn-hover;
      text-decoration: none;
    }
  }
}
// a {
//   &.btn {
//     &.ghost-red-btn {
//       background: transparent !important;
//       color: #eb5e55 !important;
//       border: 2px solid #eb5e55 !important;
//       border-radius: 30px !important;
//       padding: 13px 20px !important;
//       font-weight: 700 !important;
//       &:hover {
//         background-color: #eb5e55 !important;
//         color: #ffffff !important;
//       }
//     }
//   }
// }
