body {
  .every-moments {
    .moment-title {
      text-align: center;
      padding-bottom: 20px;
    }
    h6 {
      padding-bottom: 30px;
      text-align: center;
    }
    .moments-slider {
      .slick-slide {
        padding: 0 25px;

        > div {
          @media only screen and (max-width: $small) {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
          }
        }

        .slide-item-inn {
          background: #ecf3f3;
          border-radius: 20px;
        }

        .slider-img {
          position: relative;

          a {
            width: 100%;
            height: 190px;
            position: relative;
            -webkit-mask-image: url(../images/thumb-shape-sm.svg);
            mask-image: url(../images/thumb-shape-sm.svg);
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            display: block;
            // mask-size: calc(100% - 9px);

            @media only screen and (max-width: $small) {
              height: 129px;
              mask-size: 156px;
            }

            img {
              width: 100%;
              height: calc(100% - 2px);
              object-fit: cover;
            }
          }
          //   .curve {
          //     position: absolute;
          //     left: 0;
          //     bottom: -10px;
          //     width: 100%;
          //     z-index: 1;
          //     height: 10px;
          //   }
        }

        .slider-head {
          padding: 20px;
          border-radius: 0 0 20px 20px;

          &.primary-ming {
            background-color: $primary-ming;
          }

          &.secondary-bg {
            background-color: $secondary-btn;
          }

          &.primary-danger {
            background-color: $primary-btn;
          }

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $primary;
            // @media(max-width: $small){
            //     font-size: 16px;
            // }
          }
        }
      }

      .slick-prev {
        position: absolute;
        left: 0;
        transform: translate(0%, -50%);
        top: 50%;
        height: 56px;
        width: 56px;
        border-radius: 50px;
        background-color: $secondary-btn;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:before {
          content: '';
          // background-image: url(../images/moment-left.png);
          background-image: url('../images/moment-left.svg');
          width: 17px;
          height: 16px;
          background-repeat: no-repeat;
          display: inline-block;
        }

        &:hover {
          background-color: $secondary-btn-hover;
        }
      }

      .slick-next {
        position: absolute;
        right: 0;
        transform: translate(0%, -50%);
        top: 50%;
        height: 56px;
        width: 56px;
        border-radius: 50px;
        background-color: $secondary-btn;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:before {
          content: '';
          // background-image: url(../images/moment-right.png);
          background-image: url('../images/moment-right.svg');
          width: 17px;
          height: 16px;
          background-repeat: no-repeat;
          display: inline-block;
        }

        &:hover {
          background-color: $secondary-btn-hover;
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  body {
    .every-moments {
      .moment-title {
        padding-bottom: 20px;
      }

      .moments-slider {
        .slick-next,
        .slick-prev {
          top: -40px;
          height: 40px;
          width: 40px;
        }

        .slick-slide {
          padding: 0 6.5px;

          > div {
            &:first-child {
              padding-bottom: 15px;
            }

            a {
              display: block !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
