// Font Family
$montserrat_font: 'Montserrat', sans-serif;
$rajdhani_font: 'Rajdhani', sans-serif;
$poppins_font: 'Poppins', sans-serif;

// Color
$primary: #40434E;
$primary-success: #19C8AB;
$primary-ming: #3E8989;
$secondary-warning: #F8BB40;
$secondary-lightcream: #FDEBC6;
$danger: #EB5E55;
$white: #FFFFFF;
$black: #000000;
$black-light:#0000000f;
$white-light: #F8FAFC;
$aqua-haze: #F3F8F8;
$opal: #9FC4C4;
$opal-light:#ECF3F3;
$gray:#00000040;
$wafer: #E5D8D7;
$white-ghost: #E5E5E5;
$green-color:#75B7B2
;

// Background-color
$primary-btn: $danger;
$primary-btn-hover: #EF4444;
$secondary-btn: #FBBF24;
$secondary-btn-hover: #F59E0B;
$info-btn: $primary-success;
$info-btn-hover: #10B981;

// Responsive
$xx-small: 350px;
$iphone: 480px;
$x-small: 545px;
$small: 767px;
$ipad: 768px;
$medium: 991px;
$ipad-min: 1023px;
$desktop: 1024px;
$ipadpro: 1080px;
$large1: 1199px;
$large2: 1200px;
$touch-laptop: 1250px;
$small-laptop: 1280px;
$large: 1350px;
$large-1400: 1400px;
$m-large-1600: 1600px;
$m-large-1920: 1919px;
$mm-large-1922: 1922px;