// Font Family
$montserrat_font: 'Montserrat', sans-serif;
$rajdhani_font: 'Rajdhani', sans-serif;
$poppins_font: 'Poppins', sans-serif;

// Color
$primary: #40434e;
$primary-success: #19c8ab;
$primary-ming: #3e8989;
$secondary-warning: #f8bb40;
$secondary-lightcream: #fdebc6;
$danger: #eb5e55;
$white: #ffffff;
$black: #000000;
$black-light: #0000000f;
$white-light: #f8fafc;
$aqua-haze: #f3f8f8;
$opal: #9fc4c4;
$opal-light: #ecf3f3;
$gray: #00000040;
$wafer: #e5d8d7;
$white-ghost: #e5e5e5;
$green-color: #75b7b2;
$green-color-2: #d2e3e3;
$green-color-3: #c5dcdc;

// Background-color
$primary-btn: $danger;
$primary-btn-hover: #ef4444;
$secondary-btn: #fbbf24;
$secondary-btn-hover: #f59e0b;
$info-btn: $primary-success;
$info-btn-hover: #10b981;

// Responsive
$xx-small: 350px;
$iphone: 480px;
$x-small: 545px;
$small: 767px;
$ipad: 768px;
$medium: 991px;
$ipad-min: 1023px;
$desktop: 1024px;
$ipadpro: 1080px;
$large1: 1199px;
$large2: 1200px;
$touch-laptop: 1250px;
$small-laptop: 1280px;
$large: 1350px;
$large-1400: 1400px;
$m-large-1600: 1600px;
$m-large-1920: 1919px;
$mm-large-1922: 1922px;
